.banner-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 40px;
  background-color: var(--red-color);
  position: relative;
  height: 670px;
  line-height: 1; 
  color: #FFF;
  width: 100%;
  margin: 120px auto 30px;
  

  img {
    border-radius: 1.5rem;
    max-width: 1200px;
    object-fit: scale-down;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    width: 1200px;
    position: absolute;
    z-index: 100;
    font-size: 5.5rem;
    -webkit-text-stroke: 0.2px #FFF;
    font-weight: bolder;
    color: transparent;
    word-wrap: break-word;
    text-align: center;
    text-transform: uppercase;
  }
}

.footnote {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  padding: 1rem 0;

  svg {
    position: relative;
    top: 3px
  }

  img {
    margin-left: 1rem;
    width: 40px;
    height: auto;
  }
}